<%= stylesheet_link_tag "LoginScreen.css" %>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="login-form">  
    <h1 class="forget-password-header">Forgot your password?</h1>
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input-field", required: true %>
  
  <div class="actions">
    <%= f.submit "Send me reset password instructions", class: "login-btn" %>
  </div>
  <%= render "devise/shared/links" %>
  </div>

<% end %>

